# local .terraform dir
.terraform

# tf state files
*.tfstate
*.tfstate.*

# tf variable files, may include sensitive data
*.tfvars

# Crash log
crash.log

# Env variables
*.env

# Node modules
node_modules

# Local upload file
public/uploads/*

# Certificate file
*.crt

# Resource assets that contains db secret
resource_assets.json

# SSH Directory
.ssh

# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~